<div class="modal fade user-search-modal" id="pendingRatingModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <form id="pendingRatingForm" enctype="multipart/form-data">
        <input type="hidden" id="pendingEntryId" name="entryId">
        <div class="modal-header border-0">
          <h5 class="modal-title">Rate Game</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="pendingGameInfo" class="mb-3 text-center"></div>
          <div class="mb-3">
            <label class="form-label d-flex justify-content-between">
              <span>Rating:</span>
              <span id="pendingRatingValue" class="fw-bold text-white">5</span>
            </label>
            <div class="glass-range-wrapper">
              <input type="range" id="pendingRatingRange" name="rating" class="form-range glass-control" min="1" max="10" step="0.1" value="5" required>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Photo</label>
            <input type="file" name="photo" class="form-control glass-control" id="pendingPhotoInput">
          </div>
          <div class="mb-3">
            <label class="form-label d-flex justify-content-between">
              <span>Comment</span>
              <small id="pendingCommentCounter">0/100</small>
            </label>
            <textarea id="pendingCommentInput" class="form-control glass-control" name="comment" rows="3" maxlength="100"></textarea>
          </div>
        </div>
        <div class="modal-footer border-0">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
