<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gamebook Scraper | Courses</title>
        <link rel="stylesheet" href="/css/gamebook_scraper.css">
    
    </head>
<body>
    <div class="container">
        
        <div class="col-6">

            <h1 id="title" class="mb-3 mt-3">
                About the Creator of This Site
            </h1>
            <img src="/images/me.jpg" alt="me">

            <h3 class="mb-3">Christian Rosse</h3>

            <p>
                My name is Christian Rosse and I am currently a junior at DePaul University.  I am currently seeking out a Bachelor's degree in data science with a minor in IT.  Through my learning at DePaul, I have learned valuable skills in programming languages such as:
            </p>
                <ul>
                    <li>R</li>
                    <li>Python</li>
                    <li>JavaScript</li>
                    <li>Java</li>
                    
                </ul>
                <p>
                I have utilized skills like this to help me create this site.
            </p>

            <p>
                First and foremost, I am a big sports fan.  Whether it be playing, watching, analyzing, and all of the above, I am on it.  I currently work for DePaul Athletics with the communications staff.  That has given me great experience and insights into how the innerworkings of the sports world operate.
            </p>

            <p>
                My favorite sports to watch are college basketball and NFL football. In real life, I like to play football, basketball, lift weights and ski.  Compared to the average person, I am definitely the best at Football as that was my main sport in high school, and skiing which is due to growing up in Colorado and being surrounded by the ski culture. 
            </p>

            <p>
                I grew up in Boulder, Colorado, however I was born in Baltimore, Maryland.  I have close ties to both states and visit each frequently.  Because of my parents and where I was born I am a Baltimore Ravens fan when it comes to my favorite sport in football.  I was able to get out to see a few games last season since my parents have season tickets.
            </p>

            <p>
                <a href="/files/resume.pdf" download="Christian_Resume.pdf">My Resume</a>

            </p>
        </div>
</div>
</body>
</html>