<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamebook Scraper | Contact</title>
    <link rel="stylesheet" href="/css/gamebook_scraper.css">
</head>
<body>
    <div class="container">
        
        <div class="pagediv">
            <div class="form-container1">
            <h1>Sign up for an Account</h1>
            <p>Enter valid account information</p>
            <form action="/thanks" class="subscription-form" method="post">
                <input type="text" name="name" placeholder="Name">
                <input type="email" name="email" placeholder="Email">
                <input type="text" name="phoneNumber" placeholder="Phone Number" pattern="[0-9]{10}">
                

                <input type="submit" name="submit" />
            </form>
        </div>
        </div>
    </div>
</body>
</html>