<div class="container">
    

    <div class="col-6 mt-3">
        <img src="images/bball.jpg" alt="Photo of basketball">
        <br>
        <Cite>
            <small>
                https://unsplash.com/photos/ball-under-basketball-ring-BfphcCvhl6E
            </small>
        </Cite>
        <h2>Welcome to Gamebook Scraper<br>The hub for your data extraction needs</h2>
        
        <p>Are you an SID that needs your data in one place? There are many options for you to go with but some may be inefficient or unorganized.  Get familiar with this page as a prime solution to your problems!</p>
        <p>
            All you need is the NCAA gamebook pdf file, and we can take it from there!  This site can take your gamebook file, and either create a new spreadsheet project with it.  It can also append the contents of the specific gamebook to an existing project.  The possibilities are endless.
        </p>
        <p>To get you familiar with the site, let's rundown the pages we have.  This is the homepage.  If you need to ever find your way back to the home page, just click the title in the top left corner.  The tutorial page is where to go if you need to learn about how to use the site.  The about page is about the creator of this website, a college student. </a>
        </p>

        <p>
            You can view your personal account data in the profile icon in the top right.  If you haven't made an account, enter in new account info first.  Finally the Projects page is where you go to manage and keep track of your current projects.  This will be where most of the work is done.
        </p>
    </div>
</div>