<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamebook Scraper</title>
    <link rel="stylesheet">
</head>
<body>


    <%- body %>
    <script>
      window.unratedGameEntries = <%- JSON.stringify(unratedGameEntries || []) %>;
    </script>
    <script src="/js/ratingPrompt.js"></script>
</body>
<br>
<br>
<br>
<br>
<br>

</html>
