<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamebook Scraper | New Project</title>
    <link rel="stylesheet" href="/css/gamebook_scraper.css">
</head>
<body>
    <div id="container">
        <div class="col-6 mt-3 mb-3">
            
                <div class="center-align">
                    <h1>Drop your gamebook PDF file below:</h1>
                
                <div class="drop-container" id="drop-container">
                    <p>Drag & Drop files here or browse</p>
                    <input type="file" id="file-input" />
                </div>

                </div>
            

        <br>
        </div>
        <p>
            While you're here, learn about some interesting stats I discovered through doing this myself.  First, this season, DePaul women's basketball was 9-0 when either tied or ahead at halftime.  In contrast, they were 5-19 when trailing.  This exemplifies the consistency of gameplan throughout the whole game.
        </p>

        <p>
            There were no games this season which DePaul made 10 or more three pointers.  However, when their opponents did, they went 0-3.  This indicates that their style of offense fails to have the ability to hang with good 3pt shooting teams.  This can cause them to lose games in the future.
        </p>

        <p>
            DePaul was undefeated this season in games that were decided by 5 points or less.  This can indicate that they execute on their free throws late to seal victory.  They were 77.5% from the free throw line in the 4th quarter all season.  This mark is the highest out of any quarter.
        </p>

        <p>
            DePaul's point differential in the third quarter is -6.  This is the highest quarter by quarter differential by a double digit margin.  Also, the 3rd quarter is the only quarter where they lead their opponent in all shot percentages.  This can indicate that they come out of the locker room with strong offensive and defensive adjustments.
        </p>
        
    </div>
</body>

</html>