<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamebook Scraper | Projects</title>
    <link rel="stylesheet" href="/css/gamebook_scraper.css">
</head>
<body class="body-projects">
    <div id="container">

        
        <a href="/newProject"><span class="button" id="project-btn">+Project</span></a>
    
        <h1>Looks like you have no projects...</h1>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <p>
            Creating a new project can unlock a world of new abilities.  Clicking new project will send you to a page where you can drop your xlsx file. This will start your new project journey.  Please get excited.
        </p>

        <p>
            You can choose xlsx or csv file.  However xlsx is better as the program will be able to create and compress multiple csv sheets in the same file.  one of these files will be a main specialty page.  The other sheet will be a quarter breakdown.
        </p>

        <p>
            The main specialty page will give you general information about the game.  The score and the point differential as well as other metrics.  It will record the data about the distribution of the lead and the amount of ties.  It will also give the numbers of each team based on certain circumstances such as 'points in paint'
        </p>

        <p>
            The quarter by quarter breakdown is more nuanced.  It will record the number of fgs, 3pt, and fts by each team.  It will also record their percentage on such shots. On top of that it will grab points, rebounds, and turnovers.
        </p>
        
        
    

    </div>
</body>

</html>