<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gamebook Scraper | Thanks</title>
        <link rel="stylesheet" href="/css/gamebook_scraper.css">
    
    </head>

    <body>
        
    <div class="pagediv">
        <div class="form-container1">
            
        <div class="center-align">
            <div class="circle">
                <%= name.charAt(0).toUpperCase() %>
            </div>   
            <h2>@<%= name %></h2>
        </div>
        <h3>Email: <%= email %></h3>
        <h3>Phone: <%= phoneNumber %></h3>
        

        <br>
        <p>
            Thank you for using Gamebook Scraper!
        </p>

        <p>
            <a href="/logout">Log Out</a>
        </p>
        </div>
    </div>
    
    </body>

</html>