<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gamebook Scraper | Tutorial</title>
        <link rel="stylesheet" href="/css/gamebook_scraper.css">
    
    </head>
<body>
    <div class="container">
        
        <div class="col-6 mt-3">
            <h1 id="title">
                Learn how to use Gamebook Scraper!
            </h1>

            
            <br>
            <br>
            <br>

            <h3>
                Here is a look on what your final spreadsheet can look like:
            </h3>

            
            <img src="/images/sheet1.png" alt="sheet1" style="width: 100%; height: auto;">
            

            <h3>
                Here's a look at the quarter breakdown page:
            </h3>
            <br>


            
            <img id="tutorial-img" src="/images/sheet2.png" alt="sheet2" style="width: 100%; height: auto;">
            

            <h3>
                Now let's get into the tutorial:
            </h3>
            <br>
            <h3>
                Step: #1
            </h3>
            
            <img id="tutorial-img" src="/images/step1.png" alt="step 1" style="width: 100%; height: 300px;">
            
            <h3>
                Click on the circular profile button on the top right corner of the nav bar.  This is where you get to your personal profile page.  This page is convienently placed in the top right for you to find.  It has a big P on it.
            </h3>
            
            <br>
            <h3>
                Step: #2
            </h3>
            
            <img id="tutorial-img" src="/images/step2.png" alt="step 2" style="width: 100%; height: auto;">
            
            <h3>
                Once you click on the profile button, it will prompt you to make an account.  This account will be able to keep track of your projects all in one place.  Make sure to fill in accurate information!  If you don't fill in accurate information, it will warn you.
            </h3>

            <br>
            <h3>
                Step: #3
            </h3>
            
            <img id="tutorial-img" src="/images/step3.png" alt="step 3" style="width: 100%; height: auto;">
            
            <h3>
                Since this is likely your first time using the site, it will most likely show that you have no projects yet.  Take your time to read the info on the projects page.  After reading, click the '+Project' button to get started.  This is where you will create a project.
            </h3>

            <br>
            <h3>
                Step: #4
            </h3>
            
            <img id="tutorial-img" src="/images/step4.png" alt="step 4" style="width: 100%; height: auto;">
            
            <h3>
                This is going to be the field where you put your gamebook file.  If you have yet to download it from the NCAA website, do so now. Then, select the 'Choose File' button, or, drag and drop it into the box. Drop boxes are handy and cool.
            </h3>

            <br>
            <h3>
                Final Step
            </h3>
            
            <img id="tutorial-img" src="/images/step5.png" alt="step 5" style="width: 100%; height: auto;">
            
            <h3>
                Finally, select the proper file you would like to begin your new project with.  Ideally this should be the first game of the season.  But, if it's not, we don't judge!  
            </h3>



            

            
        </div>
    </div>
        
</body>
</html>